.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #331D2C;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #3F2E3E;
  font-size: 5rem;
  color: #A78295;
}

p {
  font-size: 2rem;
  color: #A78295;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.img1 , .img2{
  width: 150px;
  height: 150px;
  margin: 10px 20px;
}